.navbar {
    background-color: rgba(245, 245, 245, 0.9);
    border-bottom: 1px solid black;
    -webkit-box-shadow: 0 0 20px 5px #00000099;
    box-shadow: 0 0 20px 5px #00000099;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;

    overflow: hidden;
}

#nav-buttons {
    display: flex;
    flex-direction: row;
}

#nav-logo {
    height: 4rem;
    margin: 1rem 2.5rem;
}

.nav-item {
    margin: 0.5rem 2rem;
    border: none;
    background: none;
    cursor: pointer;
}
.nav-item rect {
    fill: var(--bright-color);
}
.nav-item:hover rect {
    fill: var(--alt-color);
}

.scissor-button {
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;/*2vw;*/
    display: flex;
    flex-direction: row;
}
.scissor-button:hover {
    color: var(--alt-color);
}
@media (min-width: 1155px) {
    .scissor-button {
        font-size: 2rem;
    }
}
@media (orientation: portrait) {
    #nav-logo {
        margin: 1rem 0 1rem 1rem;
    }
    .nav-item {
        margin: 0.5rem 1rem 0.5rem 0;
    }
}

.scissor-button::before {
    content: "✂";
    color: var(--alt-color);
    position: absolute;
    opacity: 1;
    transform: translateX(-110%);
    transition: transform 0.2s ease, opacity 0.3s;
    pointer-events: none;
}
.scissor-button:hover::before {
    opacity: 0;
    transform: translateX(210%);
}

/* ========== *//* ========== */
/* ========== *//* ========== */

#menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(245, 245, 245, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ========== *//* ========== */
/* ========== *//* ========== */

#card-1 {
    background-image: url("../assets/services/s (1).jpeg");
}
#card-2 {
    background-image: url("../assets/services/s (2).jpeg");
}
#card-3 {
    background-image: url("../assets/services/s (3).jpeg");
}
#card-4 {
    background-image: url("../assets/services/s (4).jpeg");
}
#card-5 {
    background-image: url("../assets/services/s (5).jpeg");
}
#card-6 {
    background-image: url("../assets/services/s (6).jpeg");
}
#card-7 {
    background-image: url("../assets/services/s (7).jpeg");
}
#card-8 {
    background-image: url("../assets/services/s (8).jpeg");
}
#card-9 {
    background-image: url("../assets/services/s (9).jpeg");
}