.dynamic-grid {
    display: grid;
    gap: 1rem;
    width: min(85vw, 800px);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.gallery-grid {
    display: grid;
    gap: 1rem;
    width: min(85vw, 800px);
    grid-template-columns: repeat(auto-fit, minmax(min(240px, 30vmin), 1fr));
}

.wide-grid {
    display: grid;
    gap: 1rem;
    width: min(85vw, 1000px);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.gallery-card {
    min-height: 240px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
    background-image: var(--src);
}

@media (max-width: 583px) {
    .gallery-card {
        min-height: 30vmin;
        min-width: 30vmin;
    }
}

/*.gallery-card:hover {*/
/*    transform: scale(0.98);*/
/*}*/


